# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

# WordPress plugins sources
wp_plugins/*
!wp_plugins/*.tar.gz
